Importação das Bibliotecas

In [37]:
from pathlib import Path
import sys
import pandas as pd

Caminho relativo do dataset

In [39]:
root = Path().resolve().parent
sys.path.append(str(root))

Exploração do Dataset

In [25]:
csv_path = root / "data" / "raw" / "SMSSpamCollection.csv"
dataset = pd.read_csv(csv_path, encoding="latin1")
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [32]:
dataset["v1"].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [34]:
dataset["word_count"] = dataset["v2"].str.split().str.len()
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,word_count
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,20
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,6
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,28
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,11
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,13

In [36]:
dataset[["word_count"]].describe()

        word_count
count  5572.000000
mean     15.494436
std      11.329427
min       1.000000
25%       7.000000
50%      12.000000
75%      23.000000
max     171.000000